body {
  background-color: white;
  background-image: url(images/bg-header-desktop.png);
  background-position: top right;
  background-size: 110%;
  background-repeat: no-repeat;

  font-style: normal;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

header,
main {
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

p {
  font-weight: 400;
  color: hsl(201, 11%, 66%);
}

/* Header */

header img {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  header {
    width: 85%;
    margin: 125px auto;
  }
  header .section-header p {
    margin: 20px auto 40px;
  }
}

/* Download Buttons */

.button-iOS,
.button-Mac {
  height: 45px;
  width: 180px;
  border-radius: 30px;
  border: none;
  margin: 20px 5px;

  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
}

.button-iOS {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171, 66%, 37%);
  box-shadow: 0px 3px 10px hsl(171, 66%, 44%);
}

.button-iOS:hover {
  background-color: hsl(171, 57%, 57%);
  border-bottom: 3px solid hsl(171, 66%, 37%);
}

.button-Mac {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 3px solid hsl(233, 59%, 56%);
  box-shadow: 0px 3px 10px hsl(233, 100%, 69%);
}

.button-Mac:hover {
  background-color: hsl(233, 95%, 74%);
  border-bottom: 3px solid hsl(233, 59%, 56%);
}

@media (max-width: 600px) {
  .button-iOS,
  .button-Mac {
    width: 80%;
    margin: 10px 0;
    box-shadow: none;
  }
}

/* Main*/

.section-header {
  margin: 12% auto 5%;
}

.section-header p {
  margin: 2% 16%;
  font-size: 1.1rem;
}

@media (max-width: 750px) {
  section {
    width: 85%;
    margin: 125px auto;
  }
  .section-header p {
    margin: 20px 0 40px;
    font-size: 1rem;
  }
}

/* Main - Section 1*/

.image-computer {
  float: left;
  width: 52%;
  margin-left: -20px;
}

.section1 .text {
  margin: 5% 15% 0 58%;
  text-align: left;
  font-size: 0.8rem;
}

.section1 .text p {
  padding-bottom: 10%;
}

@media (max-width: 600px) {
  .section1 img {
    float: none;
    width: 100%;
    margin: 35px 0 75px;
  }
  .section1 .text {
    margin: 0;
    text-align: center;
    font-size: 0.9rem;
  }
  .section1 .text p {
    padding-bottom: 30px;
  }
}

/* Main - Section 2*/

@media (max-width: 600px) {
  .section2 img {
    width: 100%;
  }
}

/* Main - Section 3*/

.section3 .section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  font-size: 0.8rem;
}

.section3 img {
  margin: 0;
}

.section3 h5 {
  margin: 30px auto 20px;
}

.section3 div {
  width: 33.33%;
  margin: auto 2.5%;
}

@media (max-width: 600px) {
  .section3 .section-content {
    flex-direction: column;
    margin: 75px 0;
    font-size: 0.9rem;
  }
  .section3 div {
    width: 70%;
    margin-bottom: 20px;
  }
}

/* Main - Section 4*/

.section4 img {
  margin: 2.5%;
}

@media (max-width: 600px) {
  .section4 img {
    display: block;
    margin: 75px auto;
  }
}

/* Main - Section 5*/

/* Footer */

footer {
  background-color: rgb(233, 233, 233);
  font-size: 0.8rem;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 50px;
}

.footer-links {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 1000px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .footer-links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-left: 10%;
  }
}

.button-links {
  background-color: transparent;
  border: none;
  color: hsl(210, 10%, 33%);
  font-size: 1rem;
  text-align: left;
}

.button-links:hover {
  background-color: transparent;
  border: none;
  color: hsl(171, 66%, 44%);
}

.footer-media {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-media {
  background-color: transparent;
  border: none;
}

.button-media:hover {
  background-color: transparent;
  border: none;
}

.footer-media svg {
  color: #4c545c;
}

.footer-media svg:hover {
  color: hsl(171, 66%, 44%);
}

@media (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-items: center;
    align-items: center;
  }
  .footer-logo {
    margin: 15px auto;
  }
  .footer-links {
    margin: 15px auto;
    justify-items: center;
  }
  .footer-media svg {
    margin: 15px auto 10px;
  }
}
